In [1]:
import pandas as pd
import numpy as np
import os
# pd.set_option("max_columns", 100)
pd.options.display.max_rows = 200
pd.options.display.max_columns = 100

In [2]:
# pd.describe_option('max_rows')
os.listdir('Data')

['finale_data.csv',
 '.ipynb_checkpoints',
 'annual.csv',
 'payment.csv',
 'payments.csv',
 'zones.csv',
 'group_products.csv',
 'monthly.csv']

In [18]:
df_annual = pd.read_csv('Data/annual.csv')
df_mois  = pd.read_csv('Data/monthly.csv')
df_paid = pd.read_csv('Data/payments.csv')
df_zone = pd.read_csv('Data/zones.csv')

In [19]:
print(df_annual.shape)
df_annual.head()

(117911, 15)

,id,slug,user_id,registration_date,date_at,month,total_amount,arrhes,amount_moins_deposit,group_name,country,group_id,invoice_model,expect_amount,cum_expect_amount
0,25,ac252017,15,2017-10-24,2019-10-24,2019-10,280000,140000,140000,WowSolarTV19 - Annuité - SN,Senegal,6,0,140000,140000
1,25,ac252017,15,2017-10-24,2019-11-24,2019-11,280000,140000,140000,WowSolarTV19 - Annuité - SN,Senegal,6,0,140000,140000
2,25,ac252017,15,2017-10-24,2019-12-24,2019-12,280000,140000,140000,WowSolarTV19 - Annuité - SN,Senegal,6,0,140000,140000
3,25,ac252017,15,2017-10-24,2020-01-24,2020-01,280000,140000,140000,WowSolarTV19 - Annuité - SN,Senegal,6,0,140000,140000
4,25,ac252017,15,2017-10-24,2020-02-24,2020-02,280000,140000,140000,WowSolarTV19 - Annuité - SN,Senegal,6,0,140000,140000

In [20]:
print(df_mois.shape)
df_mois.head()

(3232313, 15)

,id,slug,user_id,registration_date,date_at,month,total_amount,arrhes,amount_moins_deposit,group_name,country,group_id,invoice_model,expect_amount,cum_expect_amount
0,23,ac232017,15,2017-10-24,2017-11-24,2017-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,12500.0
1,23,ac232017,15,2017-10-24,2017-12-24,2017-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,25000.0
2,23,ac232017,15,2017-10-24,2018-01-24,2018-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,37500.0
3,23,ac232017,15,2017-10-24,2018-02-24,2018-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,50000.0
4,23,ac232017,15,2017-10-24,2018-03-24,2018-03,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,62500.0

In [21]:
df_expected = pd.concat([df_mois,df_annual],ignore_index=True)

In [22]:
df_expected['total_expect_amount'] = np.where(df_expected['cum_expect_amount']>df_expected['amount_moins_deposit'],df_expected['amount_moins_deposit'],df_expected['cum_expect_amount'])

In [23]:
df_expected[df_expected['id']==23]

,id,slug,user_id,registration_date,date_at,month,total_amount,arrhes,amount_moins_deposit,group_name,country,group_id,invoice_model,expect_amount,cum_expect_amount,total_expect_amount
0,23,ac232017,15,2017-10-24,2017-11-24,2017-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,12500.0,12500.0
1,23,ac232017,15,2017-10-24,2017-12-24,2017-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,25000.0,25000.0
2,23,ac232017,15,2017-10-24,2018-01-24,2018-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,37500.0,37500.0
3,23,ac232017,15,2017-10-24,2018-02-24,2018-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,50000.0,50000.0
4,23,ac232017,15,2017-10-24,2018-03-24,2018-03,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,62500.0,62500.0
5,23,ac232017,15,2017-10-24,2018-04-24,2018-04,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,75000.0,75000.0
6,23,ac232017,15,2017-10-24,2018-05-24,2018-05,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,87500.0,87500.0
7,23,ac232017,15,2017-10-24,2018-06-24,2018-06,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,100000.0,100000.0
8,23,ac232017,15,2017-10-24,2018-07-24,2018-07,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,112500.0,112500.0
9,23,ac232017,15,2017-10-24,2018-08-24,2018-08,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,125000.0,125000.0
10,23,ac232017,15,2017-10-24,2018-09-24,2018-09,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,137500.0,137500.0
11,23,ac232017,15,2017-10-24,2018-10-24,2018-10,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,150000.0,150000.0
12,23,ac232017,15,2017-10-24,2018-11-24,2018-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,162500.0,162500.0
13,23,ac232017,15,2017-10-24,2018-12-24,2018-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,175000.0,175000.0
14,23,ac232017,15,2017-10-24,2019-01-24,2019-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,187500.0,187500.0
15,23,ac232017,15,2017-10-24,2019-02-24,2019-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,200000.0,200000.0
16,23,ac232017,15,2017-10-24,2019-03-24,2019-03,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,212500.0,212500.0
17,23,ac232017,15,2017-10-24,2019-04-24,2019-04,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,225000.0,225000.0
18,23,ac232017,15,2017-10-24,2019-05-24,2019-05,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,237500.0,237500.0
19,23,ac232017,15,2017-10-24,2019-06-24,2019-06,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,250000.0,250000.0
20,23,ac232017,15,2017-10-24,2019-07-24,2019-07,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,262500.0,262500.0
21,23,ac232017,15,2017-10-24,2019-08-24,2019-08,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,275000.0,275000.0
22,23,ac232017,15,2017-10-24,2019-09-24,2019-09,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,287500.0,287500.0
23,23,ac232017,15,2017-10-24,2019-10-24,2019-10,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,300000.0,300000.0
24,23,ac232017,15,2017-10-24,2019-11-24,2019-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,312500.0,300000.0
25,23,ac232017,15,2017-10-24,2019-12-24,2019-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,325000.0,300000.0
26,23,ac232017,15,2017-10-24,2020-01-24,2020-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,337500.0,300000.0
27,23,ac232017,15,2017-10-24,2020-02-24,2020-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,350000.0,300000.0
28,23,ac232017,15,2017-10-24,2020-03-24,2020-03,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,362500.0,300000.0
29,23,ac232017,15,2017-10-24,2020-04-24,2020-04,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,375000.0,300000.0
30,23,ac232017,15,2017-10-24,2020-05-24,2020-05,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,387500.0,300000.0
31,23,ac232017,15,2017-10-24,2020-06-24,2020-06,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,400000.0,300000.0
32,23,ac232017,15,2017-10-24,2020-07-24,2020-07,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,412500.0,300000.0
33,23,ac232017,15,2017-10-24,2020-08-24,2020-08,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,425000.0,300000.0
34,23,ac232017,15,2017-10-24,2020-09-24,2020-09,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,437500.0,300000.0
35,23,ac232017,15,2017-10-24,2020-10-24,2020-10,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,450000.0,300000.0
36,23,ac232017,15,2017-10-24,2020-11-24,2020-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,462500.0,300000.0
37,23,ac232017,15,2017-10-24,2020-12-24,2020-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,475000.0,300000.0
38,23,ac232017,15,2017-10-24,2021-01-24,2021-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,487500.0,300000.0
39,23,ac232017,15,2017-10-24,2021-02-24,2021-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,500000.0,300000.0
40,23,ac232017,15,2017-10-24,2021-03-24,2021-03,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,512500.0,300000.0
41,23,ac232017,15,2017-10-24,2021-04-24,2021-04,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,525000.0,300000.0
42,23,ac232017,15,2017-10-24,2021-05-24,2021-05,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,537500.0,300000.0
43,23,ac232017,15,2017-10-24,2021-06-24,2021-06,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,550000.0,300000.0
44,23,ac232017,15,2017-10-24,2021-07-24,2021-07,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,562500.0,300000.0
45,23,ac232017,15,2017-10-24,2021-08-24,2021-08,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,575000.0,300000.0
46,23,ac232017,15,2017-10-24,2021-09-24,2021-09,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,587500.0,300000.0
47,23,ac232017,15,2017-10-24,2021-10-24,2021-10,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,600000.0,300000.0
48,23,ac232017,15,2017-10-24,2021-11-24,2021-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,612500.0,300000.0
49,23,ac232017,15,2017-10-24,2021-12-24,2021-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,625000.0,300000.0
50,23,ac232017,15,2017-10-24,2022-01-24,2022-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,637500.0,300000.0
51,23,ac232017,15,2017-10-24,2022-02-24,2022-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,650000.0,300000.0
52,23,ac232017,15,2017-10-24,2022-03-24,2022-03,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,662500.0,300000.0
53,23,ac232017,15,2017-10-24,2022-04-24,2022-04,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,675000.0,300000.0
54,23,ac232017,15,2017-10-24,2022-05-24,2022-05,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,687500.0,300000.0
55,23,ac232017,15,2017-10-24,2022-06-24,2022-06,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,700000.0,300000.0
56,23,ac232017,15,2017-10-24,2022-07-24,2022-07,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,712500.0,300000.0
57,23,ac232017,15,2017-10-24,2022-08-24,2022-08,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,725000.0,300000.0
58,23,ac232017,15,2017-10-24,2022-09-24,2022-09,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,737500.0,300000.0
59,23,ac232017,15,2017-10-24,2022-10-24,2022-10,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,750000.0,300000.0
60,23,ac232017,15,2017-10-24,2022-11-24,2022-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,762500.0,300000.0
61,23,ac232017,15,2017-10-24,2022-12-24,2022-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,775000.0,300000.0
62,23,ac232017,15,2017-10-24,2023-01-24,2023-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,787500.0,300000.0
63,23,ac232017,15,2017-10-24,2023-02-24,2023-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,800000.0,300000.0
64,23,ac232017,15,2017-10-24,2023-03-24,2023-03,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,812500.0,300000.0
65,23,ac232017,15,2017-10-24,2023-04-24,2023-04,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,825000.0,300000.0

In [24]:
print(df_expected.shape)
df_expected.head()

(3350224, 16)

,id,slug,user_id,registration_date,date_at,month,total_amount,arrhes,amount_moins_deposit,group_name,country,group_id,invoice_model,expect_amount,cum_expect_amount,total_expect_amount
0,23,ac232017,15,2017-10-24,2017-11-24,2017-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,12500.0,12500.0
1,23,ac232017,15,2017-10-24,2017-12-24,2017-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,25000.0,25000.0
2,23,ac232017,15,2017-10-24,2018-01-24,2018-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,37500.0,37500.0
3,23,ac232017,15,2017-10-24,2018-02-24,2018-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,50000.0,50000.0
4,23,ac232017,15,2017-10-24,2018-03-24,2018-03,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,62500.0,62500.0

In [25]:
df_paid = df_paid.sort_values(by='month')
df_paid['total_paid'] = df_paid.groupby('slug')['amount_paid'].cumsum()
print(df_paid.shape)
df_paid.head()

(868368, 5)

          slug    month  amount_paid  ranked_month  total_paid
0     AC009268  2016-07         3500             1        3500
149   AC009984  2016-07         3500             1        3500
582   AC010002  2016-07         3500             1        3500
312   AC009991  2016-07         3500             1        3500
1111  AC010226  2016-07         3350             1        3350

In [26]:
# df_paid['rank'] = df_paid.groupby('slug')['month'].rank(method='dense', ascending=True).astype(int)

In [27]:
df_paid['month_index'] = df_paid['ranked_month'].apply(lambda t: 'M-'+str(t))

In [28]:
df1  = pd.merge(df_expected,df_paid,on=['slug','month'],how='inner')

In [29]:
print(df1.shape)
df1.head()

(840119, 20)

,id,slug,user_id,registration_date,date_at,month,total_amount,arrhes,amount_moins_deposit,group_name,country,group_id,invoice_model,expect_amount,cum_expect_amount,total_expect_amount,amount_paid,ranked_month,total_paid,month_index
0,23,ac232017,15,2017-10-24,2017-11-24,2017-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,12500.0,12500.0,12500,1,12500,M-1
1,23,ac232017,15,2017-10-24,2017-12-24,2017-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,25000.0,25000.0,12500,2,25000,M-2
2,23,ac232017,15,2017-10-24,2018-10-24,2018-10,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,150000.0,150000.0,12500,3,37500,M-3
3,23,ac232017,15,2017-10-24,2018-11-24,2018-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,162500.0,162500.0,12500,4,50000,M-4
4,23,ac232017,15,2017-10-24,2018-12-24,2018-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,175000.0,175000.0,12500,5,62500,M-5

In [30]:
df1['registration_date'] = pd.to_datetime(df1['registration_date'], errors='coerce')
df1["date_at"] = pd.to_datetime(df1["date_at"], errors='coerce')

df1['reg_month'] = df1['registration_date'].apply(lambda t: t.strftime("%Y-%m"))

In [31]:
data = pd.merge(df1,df_zone,on='slug',how='inner')

In [32]:
print(df1.shape)
print(data.shape)

(840119, 21)
(839936, 25)

In [33]:
A= set(df1['slug'].unique())
B= set(data['slug'].unique())

In [34]:
print(f'Len_A {len(A)}')
print(f'Len_B {len(B)}')
A_int_B = A.intersection(B)
A_dif_B = A-B
print(f'Len_A-B {len(A_dif_B)}')
A_dif_B

Len_A 58524
Len_B 58514
Len_A-B 10

{'AC264741',
 'AC276846',
 'AC276946',
 'AC288517',
 'AC323111',
 'AC423358',
 'AC427908',
 'ac456252019',
 'ac489252019',
 'ac492242019'}

In [35]:
data.head()

,id,slug,user_id,registration_date,date_at,month,total_amount,arrhes,amount_moins_deposit,group_name,country,group_id,invoice_model,expect_amount,cum_expect_amount,total_expect_amount,amount_paid,ranked_month,total_paid,month_index,reg_month,commune,region,agent,username
0,23,ac232017,15,2017-10-24,2017-11-24,2017-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,12500.0,12500.0,12500,1,12500,M-1,2017-10,FATICK-DIOUROUP,FATICK,Natalie Dolan,Nat
1,23,ac232017,15,2017-10-24,2017-12-24,2017-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,25000.0,25000.0,12500,2,25000,M-2,2017-10,FATICK-DIOUROUP,FATICK,Natalie Dolan,Nat
2,23,ac232017,15,2017-10-24,2018-10-24,2018-10,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,150000.0,150000.0,12500,3,37500,M-3,2017-10,FATICK-DIOUROUP,FATICK,Natalie Dolan,Nat
3,23,ac232017,15,2017-10-24,2018-11-24,2018-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,162500.0,162500.0,12500,4,50000,M-4,2017-10,FATICK-DIOUROUP,FATICK,Natalie Dolan,Nat
4,23,ac232017,15,2017-10-24,2018-12-24,2018-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,175000.0,175000.0,12500,5,62500,M-5,2017-10,FATICK-DIOUROUP,FATICK,Natalie Dolan,Nat

In [36]:
data[data['invoice_model']==0]

,id,slug,user_id,registration_date,date_at,month,total_amount,arrhes,amount_moins_deposit,group_name,country,group_id,invoice_model,expect_amount,cum_expect_amount,total_expect_amount,amount_paid,ranked_month,total_paid,month_index,reg_month,commune,region,agent,username
837091,45,ac452018,45,2018-01-11,2021-05-11,2021-05,280000,140000,140000,WowSolarTV19 - Annuité - SN,Senegal,6,0,140000.0,140000.0,140000.0,30000,2,170000,M-2,2018-01,NIAKHAR,FATICK,ALPHA BABOU,fatick02
837092,76,ac762018,53,2018-02-01,2021-03-01,2021-03,280000,140000,140000,WowSolarTV19 - Annuité - SN,Senegal,6,0,140000.0,140000.0,140000.0,5000,2,145000,M-2,2018-02,BONA,SEDHIOU,AMADOU BOCAR SAGNA,fatick06
837093,92,ac922018,47,2018-02-14,2020-06-14,2020-06,280000,140000,140000,WowSolarTV19 - Annuité - SN,Senegal,6,0,140000.0,140000.0,140000.0,3000,3,162000,M-3,2018-02,SINDIA,THIES,SOULEYMANE MANE,kaolackpoly01
837094,92,ac922018,47,2018-02-14,2021-04-14,2021-04,280000,140000,140000,WowSolarTV19 - Annuité - SN,Senegal,6,0,140000.0,140000.0,140000.0,33000,4,195000,M-4,2018-02,SINDIA,THIES,SOULEYMANE MANE,kaolackpoly01
837095,104,ac1042018,47,2018-02-21,2021-03-21,2021-03,280000,140000,140000,WowSolarTV19 - Annuité - SN,Senegal,6,0,140000.0,140000.0,140000.0,33000,2,173000,M-2,2018-02,SANDIARA,THIES,SOULEYMANE MANE,kaolackpoly01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839931,69730,ac697302021,1615,2021-04-28,2023-04-28,2023-04,180000,90000,90000,WowSolarTV22 - Promo - Annuelle - BF,Burkina,172,0,90000.0,90000.0,90000.0,15000,2,55000,M-2,2021-04,DJIGOUERA,Kenedougou,Ismael Sanogo,sanogo.ismael
839932,79646,ac796462022,3841,2022-02-02,2023-02-02,2023-02,350400,90000,260400,Cello TV43 - 12months - REA,Nigeria,236,0,90000.0,90000.0,90000.0,11000,8,164300,M-8,2022-02,IKOM,CROSS RIVER,Takon ODEP EXSTRA,IKOM02
839933,79646,ac796462022,3841,2022-02-02,2023-03-02,2023-03,350400,90000,260400,Cello TV43 - 12months - REA,Nigeria,236,0,90000.0,90000.0,90000.0,22000,9,186300,M-9,2022-02,IKOM,CROSS RIVER,Takon ODEP EXSTRA,IKOM02
839934,79646,ac796462022,3841,2022-02-02,2023-04-02,2023-04,350400,90000,260400,Cello TV43 - 12months - REA,Nigeria,236,0,90000.0,90000.0,90000.0,10000,10,196300,M-10,2022-02,IKOM,CROSS RIVER,Takon ODEP EXSTRA,IKOM02
839935,91756,ac917562023,4681,2023-01-04,2023-04-04,2023-04,115000,17500,97500,Techno spark 8 p - 3 Months,Nigeria,328,0,17500.0,17500.0,17500.0,7500,4,49000,M-4,2023-01,OLUYOLE,OYO,akinsumbo Anthony,Akinyele20

In [37]:
data[data['slug']=='ac282017'].head(100)

,id,slug,user_id,registration_date,date_at,month,total_amount,arrhes,amount_moins_deposit,group_name,country,group_id,invoice_model,expect_amount,cum_expect_amount,total_expect_amount,amount_paid,ranked_month,total_paid,month_index,reg_month,commune,region,agent,username
18,28,ac282017,15,2017-10-24,2017-12-24,2017-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,25000.0,25000.0,12500,1,12500,M-1,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
19,28,ac282017,15,2017-10-24,2018-01-24,2018-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,37500.0,37500.0,12500,2,25000,M-2,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
20,28,ac282017,15,2017-10-24,2018-02-24,2018-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,50000.0,50000.0,12000,3,37000,M-3,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
21,28,ac282017,15,2017-10-24,2018-04-24,2018-04,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,75000.0,75000.0,12500,4,49500,M-4,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
22,28,ac282017,15,2017-10-24,2018-05-24,2018-05,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,87500.0,87500.0,12500,5,62000,M-5,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
23,28,ac282017,15,2017-10-24,2018-06-24,2018-06,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,100000.0,100000.0,12500,6,74500,M-6,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
24,28,ac282017,15,2017-10-24,2018-07-24,2018-07,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,112500.0,112500.0,12500,7,87000,M-7,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
25,28,ac282017,15,2017-10-24,2018-08-24,2018-08,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,125000.0,125000.0,12500,8,99500,M-8,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
26,28,ac282017,15,2017-10-24,2018-09-24,2018-09,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,137500.0,137500.0,12500,9,112000,M-9,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
27,28,ac282017,15,2017-10-24,2018-10-24,2018-10,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,150000.0,150000.0,12500,10,124500,M-10,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
28,28,ac282017,15,2017-10-24,2018-11-24,2018-11,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,162500.0,162500.0,12500,11,137000,M-11,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
29,28,ac282017,15,2017-10-24,2018-12-24,2018-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,175000.0,175000.0,12500,12,149500,M-12,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
30,28,ac282017,15,2017-10-24,2019-01-24,2019-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,187500.0,187500.0,12500,13,162000,M-13,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
31,28,ac282017,15,2017-10-24,2019-02-24,2019-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,200000.0,200000.0,12500,14,174500,M-14,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
32,28,ac282017,15,2017-10-24,2019-03-24,2019-03,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,212500.0,212500.0,12500,15,187000,M-15,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
33,28,ac282017,15,2017-10-24,2019-04-24,2019-04,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,225000.0,225000.0,12500,16,199500,M-16,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
34,28,ac282017,15,2017-10-24,2019-05-24,2019-05,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,237500.0,237500.0,12500,17,212000,M-17,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
35,28,ac282017,15,2017-10-24,2019-06-24,2019-06,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,250000.0,250000.0,12500,18,224500,M-18,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
36,28,ac282017,15,2017-10-24,2019-07-24,2019-07,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,262500.0,262500.0,12500,19,237000,M-19,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
37,28,ac282017,15,2017-10-24,2019-08-24,2019-08,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,275000.0,275000.0,12500,20,249500,M-20,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
38,28,ac282017,15,2017-10-24,2019-09-24,2019-09,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,287500.0,287500.0,12500,21,262000,M-21,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat
39,28,ac282017,15,2017-10-24,2019-10-24,2019-10,355000,55000,300000,WowSolarTV19 - Mensuel - SN,Senegal,4,1,12500.0,300000.0,300000.0,13000,22,275000,M-22,2017-10,PATAR SINE,FATICK,Natalie Dolan,Nat

In [38]:
tab = data.groupby(['reg_month','ranked_month','month_index'])['total_paid','total_expect_amount'].sum().reset_index()
tab['Ratio'] = np.round(tab['total_paid']/tab['total_expect_amount']*100,2)
tab=tab.sort_values(by=['reg_month','ranked_month'])

/tmp/ipykernel_113706/1641374014.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tab = data.groupby(['reg_month','ranked_month','month_index'])['total_paid','total_expect_amount'].sum().reset_index()

In [39]:
tab['reg_month'].unique()

array(['2016-06', '2016-07', '2016-09', '2016-11', '2016-12', '2017-01',
       '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07',
       '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01',
       '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07',
       '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01',
       '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07',
       '2019-08', '2019-09', '2019-10', '2019-11', '2019-12', '2020-01',
       '2020-02', '2020-03', '2020-04', '2020-05', '2020-06', '2020-07',
       '2020-08', '2020-09', '2020-10', '2020-11', '2020-12', '2021-01',
       '2021-02', '2021-03', '2021-04', '2021-05', '2021-06', '2021-07',
       '2021-08', '2021-09', '2021-10', '2021-11', '2021-12', '2022-01',
       '2022-02', '2022-03', '2022-04', '2022-05', '2022-06', '2022-07',
       '2022-08', '2022-09', '2022-10', '2022-11', '2022-12', '2023-01',
       '2023-02', '2023-03'], dtype=object)

In [40]:
tab.head(100)

,reg_month,ranked_month,month_index,total_paid,total_expect_amount,Ratio
0,2016-06,1,M-1,152950,185500.0,82.45
1,2016-06,2,M-2,301765,346500.0,87.09
2,2016-06,3,M-3,452610,511000.0,88.57
3,2016-06,4,M-4,581610,633500.0,91.81
4,2016-06,5,M-5,690610,780500.0,88.48
5,2016-06,6,M-6,784510,871500.0,90.02
6,2016-06,7,M-7,911610,1029000.0,88.59
7,2016-06,8,M-8,983910,1113000.0,88.40
8,2016-06,9,M-9,1082060,1183000.0,91.47
9,2016-06,10,M-10,1169710,1344000.0,87.03
10,2016-06,11,M-11,1285210,1463000.0,87.85
11,2016-06,12,M-12,1400710,1589000.0,88.15
12,2016-06,13,M-13,1516210,1715000.0,88.41
13,2016-06,14,M-14,1635210,1844500.0,88.65
14,2016-06,15,M-15,1750710,1988000.0,88.06
15,2016-06,16,M-16,1869710,2117500.0,88.30
16,2016-06,17,M-17,1988710,2240000.0,88.78
17,2016-06,18,M-18,2045010,2289000.0,89.34
18,2016-06,19,M-19,2086860,2285500.0,91.31
19,2016-06,20,M-20,2202060,2401000.0,91.71
20,2016-06,21,M-21,2313460,2523500.0,91.68
21,2016-06,22,M-22,2421210,2646000.0,91.50
22,2016-06,23,M-23,2535660,2768500.0,91.59
23,2016-06,24,M-24,2650860,2877000.0,92.14
24,2016-06,25,M-25,2762560,3010000.0,91.78
25,2016-06,26,M-26,2870610,3125500.0,91.84
26,2016-06,27,M-27,2981710,3234000.0,92.20
27,2016-06,28,M-28,2890110,3118500.0,92.68
28,2016-06,29,M-29,2991460,3216500.0,93.00
29,2016-06,30,M-30,3092710,3311000.0,93.41
30,2016-06,31,M-31,3194360,3377500.0,94.58
31,2016-06,32,M-32,3172910,3325000.0,95.43
32,2016-06,33,M-33,3158550,3255000.0,97.04
33,2016-06,34,M-34,3026650,3048500.0,99.28
34,2016-06,35,M-35,2209900,2205000.0,100.22
35,2016-06,36,M-36,493350,490000.0,100.68
36,2016-07,1,M-1,3500,14000.0,25.00
37,2016-09,1,M-1,14000,14000.0,100.00
38,2016-09,2,M-2,28000,28000.0,100.00
39,2016-09,3,M-3,42000,42000.0,100.00
40,2016-09,4,M-4,56000,56000.0,100.00
41,2016-09,5,M-5,69400,70000.0,99.14
42,2016-09,6,M-6,83400,84000.0,99.29
43,2016-09,7,M-7,97400,101500.0,95.96
44,2016-09,8,M-8,83400,84000.0,99.29
45,2016-09,9,M-9,93900,94500.0,99.37
46,2016-09,10,M-10,104400,105000.0,99.43
47,2016-09,11,M-11,118400,115500.0,102.51
48,2016-09,12,M-12,128900,129500.0,99.54
49,2016-09,13,M-13,139400,140000.0,99.57
50,2016-09,14,M-14,149900,150500.0,99.60
51,2016-09,15,M-15,160400,161000.0,99.63
52,2016-09,16,M-16,170900,171500.0,99.65
53,2016-09,17,M-17,181400,182000.0,99.67
54,2016-09,18,M-18,191900,192500.0,99.69
55,2016-09,19,M-19,202400,203000.0,99.70
56,2016-09,20,M-20,212900,213500.0,99.72
57,2016-09,21,M-21,223400,224000.0,99.73
58,2016-09,22,M-22,247900,234500.0,105.71
59,2016-09,23,M-23,258400,259000.0,99.77
60,2016-09,24,M-24,272250,269500.0,101.02
61,2016-09,25,M-25,282750,283500.0,99.74
62,2016-09,26,M-26,293250,294000.0,99.74
63,2016-09,27,M-27,303750,304500.0,99.75
64,2016-09,28,M-28,314250,315000.0,99.76
65,2016-09,29,M-29,324750,325500.0,99.77
66,2016-09,30,M-30,335250,336000.0,99.78
67,2016-09,31,M-31,345750,346500.0,99.78
68,2016-09,32,M-32,356250,353500.0,100.78
69,2016-09,33,M-33,237400,238000.0,99.75
70,2016-09,34,M-34,244400,241500.0,101.20
71,2016-09,35,M-35,122200,122500.0,99.76
72,2016-09,36,M-36,122500,122500.0,100.00
73,2016-11,1,M-1,3249485,3202500.0,101.47
74,2016-11,2,M-2,6361915,6475000.0,98.25
75,2016-11,3,M-3,9050715,9810500.0,92.26
76,2016-11,4,M-4,11572015,12456500.0,92.90
77,2016-11,5,M-5,14270365,15246000.0,93.60
78,2016-11,6,M-6,16742280,18116000.0,92.42
79,2016-11,7,M-7,19201480,21010500.0,91.39
80,2016-11,8,M-8,21593330,23677500.0,91.20
81,2016-11,9,M-9,23926830,26411000.0,90.59
82,2016-11,10,M-10,26220280,29043000.0,90.28
83,2016-11,11,M-11,28216180,31374000.0,89.93
84,2016-11,12,M-12,30303029,33782000.0,89.70
85,2016-11,13,M-13,32230829,36221500.0,88.98
86,2016-11,14,M-14,34011579,38300500.0,88.80
87,2016-11,15,M-15,36244316,40820500.0,88.79
88,2016-11,16,M-16,38112716,42983500.0,88.67
89,2016-11,17,M-17,39969844,45059000.0,88.71
90,2016-11,18,M-18,41601557,46893000.0,88.72
91,2016-11,19,M-19,43760007,49402500.0,88.58
92,2016-11,20,M-20,45921381,51866500.0,88.54
93,2016-11,21,M-21,48028481,54197500.0,88.62
94,2016-11,22,M-22,49820331,56077000.0,88.84
95,2016-11,23,M-23,51485048,57722000.0,89.19
96,2016-11,24,M-24,53137838,59346000.0,89.54
97,2016-11,25,M-25,55000588,61155500.0,89.94
98,2016-11,26,M-26,56756387,62702500.0,90.52
99,2016-11,27,M-27,57846094,63574000.0,90.99

In [43]:
data = pd.read_csv('Data/finale_data.csv')
tab = data.groupby(['reg_month','ranked_month','month_index'])[['total_paid','total_expect_amount']].sum().reset_index()
tab['Ratio'] = np.round(tab['total_paid']/tab['total_expect_amount']*100,2)
tab=tab.sort_values(by=['reg_month','ranked_month'])

In [44]:
tab

,reg_month,ranked_month,month_index,total_paid,total_expect_amount,Ratio
0,2016-06,1,M-1,152950,185500.0,82.45
1,2016-06,2,M-2,301765,346500.0,87.09
2,2016-06,3,M-3,452610,511000.0,88.57
3,2016-06,4,M-4,581610,633500.0,91.81
4,2016-06,5,M-5,690610,780500.0,88.48
...,...,...,...,...,...,...
2275,2023-02,1,M-1,21252249,22001000.0,96.60
2276,2023-02,2,M-2,10128616,11037000.0,91.77
2277,2023-02,3,M-3,369000,371000.0,99.46
2278,2023-03,1,M-1,4710350,5020000.0,93.83
2279,2023-03,2,M-2,809900,435000.0,186.18